// General htmlTags
h1, h2{
    text-align: center;  
}
body{
   background-color: #F1F6FB;

    background-size: cover;
}
html{
    font-family: 'Montserrat', sans-serif;
    
}
.pushRight{
    float: right;
}

.pushLeft{
    float: right;
}
.btnPagination{
    margin-left: 3px;
}
.btnView{

    padding: 10px;
    left: 10px;
}
  
